# Mac temp files
.DS_Store

# specific data directories
/data/cellranger/*/
/data/immcantation/*/
/data/Jay
/data/VDJ_OTUs
/data/rna_fastq
/data/rna_velocity
/TEST

# log and result files
/log*
/doc*
/analysis*

# scratch files
/scripts/scratch

# report output files
*.html

# singularity image files
*.sif

# Word docs
*.doc
*.docx

# Jupyter notebook checkpoints
.ipynb_checkpoints
