# Mac temp files
.DS_Store

# specific data directories
/data/cellranger
/data/immcantation
/data/Jay
/data/VDJ_OTUs

# log and result files
/log*
/doc*
/analysis*

# report output files
*.html

# singularity image files
*.sif

# Word docs
*.doc
*.docx

